* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}



body {
    background-color:blanchedalmond;
    font-family:'Joan', serif, 'Parisienne', cursive;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    justify-content: flex-start;
    
}

header {
    padding:40px;
    text-align: center;
    background-color:tomato;
    color:blanchedalmond;
    font-size: 30px;
    font-weight: bolder;
    
}

nav {
    display:flex;
    background-color:mediumaquamarine;
    font-size: 25px;
    
       
}
nav a {
    text-decoration:none;
    padding:14px 20px;
    color:blanchedalmond;
    justify-content: center;

}

.myphoto {
    display:block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    

}

.leftcontent {
    display:block;
    flex-wrap:wrap;
    float: left;
    margin: 100px;
  
}

.leftcontent h1{
    color:darkturquoise;
    font-size: 50px;
    border: 5px solid tomato;
    display:flex;
    flex-wrap:wrap;
    background-color:whitesmoke;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px tomato;
}

.content p {
    font-size: 20px;
    color:darkturquoise;
    margin-right: auto;
    border: 5px solid tomato;
    display:flex;
    flex-wrap:wrap;
    background-color:whitesmoke;
    margin-right: 30px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px tomato;
   
    
    
    
}