/*Universal selectors*/

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    
}

/*Element selectors-Website body*/
body {
    background-color:blanchedalmond;
    font-family:'Joan', serif, 'Parisienne', cursive;
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    justify-content: flex-start;
    
}

/*Element selectors-Header*/
header {
    padding:40px;
    text-align: center;
    background-color:tomato;
    color:blanchedalmond;
    font-size: 30px;
    font-weight: bolder;
    
}

/*Element selectors-Navigation menu*/
nav {
    display:flex;
    background-color:mediumaquamarine;
    font-size: 25px;
}

/*Element selectors-Navigation links*/
nav a {
    text-decoration:underline;
    padding:14px 20px;
    color:blanchedalmond;
    justify-content: center;

}

/*Class selectors-My picture*/
.myphoto {
    display:block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*Class selectors- Titles for each section placed aside*/
.leftcontent h1 {
    display:block;
    flex-wrap:wrap;
    float: left;
    margin: 100px;
    color:darkturquoise;
    font-size: 50px;
    border: 5px solid tomato;
    background-color:whitesmoke;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px tomato;
    text-align: center;
}

.content {
    position:relative;
}


/*Class selectors-Styling for each section's  paragraphs*/
.content p {
    font-size: 20px;
    color:darkturquoise;
    margin-right: auto;
    border: 5px solid tomato;
    display:flex;
    flex-wrap:wrap;
    background-color:whitesmoke;
    margin-right: 30px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px tomato;
}

/*ID selectors-Big image in the Work section*/
.bigbox {
    
    position:relative;
    color:darkturquoise;
    width:900px;
    height:400px;
    margin-top: 70px;
    margin-right: 30px;
    padding: 50px;
    border: 5px solid tomato;
    display:flex;
    flex-wrap:wrap;
    background-color:whitesmoke;
    border-radius: 15px;
    box-shadow: 10px 10px 10px tomato;
}



.text-block1 {
    position:absolute;
    top:-20px;
    right:235px;
    background-color:tomato;
    color:white;
    padding:15px;
    border-radius:10px;
    
}

.smallboxes {
    position:relative;  
}

.text-block2 {
position:absolute;
top:53px;
right:602px;
padding:12px;
background-color: tomato;
color:white;
border-radius: 10px;
}

.text-block3 {
    position:absolute;
    bottom:-95px;
    right:175px;
    padding: 12px;
    background-color: tomato;
    color:white;
    border-radius:10px;
}



/*Class selectors-Placing the 2 smaller boxes in the same line/row*/
.smallboxes::before {
    content:"";
    clear:both;
    display: table;
}

/*ID selectors for small boxes 1 and 2*/
#smallimage1 {
    color:darkturquoise;
    width:25%;
    height:300px;
    margin-top: 70px;
    margin-left:480px;
    border: 5px solid tomato;
    float:left;
    background-color:whitesmoke;
    margin-right: 30px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px tomato;
}

#smallimage2 {
    color:darkturquoise;
    width:25%;
    height:300px;
    margin-top: 70px;
    margin-right: 100px;
    border: 5px solid tomato;
    float:right;
    background-color:whitesmoke;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px tomato;
}


.contactbox {
    display:flex;
    width:800px;
    font-size: 20px;
    color:darkturquoise;
    border: 5px solid tomato;
    display:inline-flex;
    flex-wrap:wrap;
    background-color:whitesmoke;
    margin-right: 30px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px tomato;
    justify-content: space-between;
    text-decoration:underline;
    margin-top:150px;

}

#linkcolor1,
#linkcolor2 {
    color:darkturquoise;
}

@media screen and (max-width:768px) {
    header,
    nav,
    div,
    main,
    aside,
    footer {
        width:50%;
    }

    nav {
        text-align: center;
    }
}

@media screen and (max-width:576px) {
    header,
    nav,
    div,
    main,
    aside,
    section,
    footer {
        width:100%
    }

    nav {
        text-align:center;
    }
}